/* Sticky footer */
html {
    height: 100%;
}

body {
    padding-top:0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.main-content {
    flex: 1;
}
#contenu {
    padding-top: 2%;
    padding-bottom: 1%;
}

/* Display and error messages */
div.message_display {
    color:#009933;
    background:#ccffcc;
    padding:5px 15px;
    border:1px solid #009933;
}

div.error_display {
    color:#800000;
    background:#ffcccc;
    padding:5px 15px;
    border:1px solid #800000;
}

div.error_display,div.message_display {
    margin-bottom: 10px;
    margin-top: 10px;
}

img {
    max-width : 100%;
    height: auto;
    display: block;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

.fa {
    font-size:125%;
}

.fa-trash {
    font-size:125%;
    color:red;
}

.fa-trash:hover {
    color:#ff9999;
}
.flex-centered-elements {
    display:flex;
    justify-content:center;
    align-items: center;
}
.flex-centered-elements span{
    padding-left:4px;
    padding-right:4px;
}


/*Nav connexion et panier*/
.top-navbar a {
    color:white;
    text-decoration: none;
}
.top-navbar a:hover {
    text-decoration: none;
}
.right-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color:white;
}

.top-menu {
    height: 3rem;
    min-width: 7rem;
    padding: .75rem;
    text-align: center;
    white-space: nowrap;

}

.top-menu a {
    color: inherit;
}

#panier-menu{
    background: #006bb3;
}
#connexion-menu {
    background: rgba(0,0,0,0.75);
}

.top-menu-element {
    background: rgba(0,0,0,0.75);
    margin-left: 20px;
}



.add-to-cart {
    color: #FFF;
    background:#006bb3;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
}

.add-to-cart:hover {
    background:#006B87;
    color:#FFF;
    text-decoration:none;
}

.titre-sidemenu {
    font-size:120%;
    font-weight: 700;
}

.icon-fa {
    font-size: 110%;
    text-decoration: none;
    margin-left: 10px;
}

.icon-fa:hover {
    text-decoration: none;
}
.passer_commande{
    color: #FFF;
    background:#006bb3;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

#ajout_panier {
    margin-top:5%;
}

.choix-variante {
    margin-bottom : 15px;
    margin-top: 25px;
}